.boolean-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radio-group {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-block: 8px;
  padding-inline-start: 35px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--color-slate-700);
  user-select: none;
}

.radio-option input {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-white);
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--color-slate-400);
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  padding: 0;
}

.radio-option input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--color-blue-500);
}

.radio-option input:checked {
  border-color: var(--color-blue-500);
}

.radio-option input:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-option:hover input {
  border-color: var(--color-blue-400);
}
